.cropArea {
  background: #E4E4E4;
  margin: auto;
  overflow: hidden;

  &.big {
    width: 800px;
    height: 600px;
  }
  &.medium {
    width: 500px;
    height: 350px;
  }
  &.small {
    width: 300px;
    height: 200px;
  }
}
